@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



* {
    box-sizing: border-box;

}



body {
    background-color: rgb(178, 197, 214);
    font-family: 'Poppins','sans-serif';
    margin: 0;

}

